#app p {
  margin: 1em;
}
input.gameInput {
  border: none;
  background: #227;
  color: #eee;
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
  width: 95%;
}
input.gameInput:focus {
  outline: none;
}
.roomMsg  { color: #ff3; }
.itemMsg  { color: #f93; }
.charMsg  { color: #f39; }
.gameMsg  { color: #6f6; }
.errorMsg { color: #f55; }