#app {
  margin-top: 6em;
}
#app p {
  margin: 1em;
}
input.gameInput {
  border: none;
  background: #227;
  color: #eee;
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
  width: 95%;
}
input.gameInput:focus {
  outline: none;
}